.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(123deg, rgba(232,9,223,1) 0%, rgba(0,212,255,1) 100%);
  font-family: "Rubik";
  color: #78909c;
}