.JokeList {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokeList-sidebar {
    background: #9575cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
}

.JokeList-title {
    font-size: 4rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.JokeList-title span {
    font-weight: 700;
}

.JokeList-sidebar img {
    width: 50%;
    border-radius: 50%;
    box-shadow: white 5px;
}

.JokeList-jokes {
    height: 90%;
    width: 70%;
    background: white;
    align-self: center;
    overflow: scroll;
    font-size: 20px;
    font-weight: 300;
}